@font-face{ 
  font-family: 'RobotoMono';
  src: url('./fonts/RobotoMono-Thin.ttf')
}

*{
  font-family: 'RobotoMono', monospace;
  box-sizing: border-box;
}

body{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;

  color: #fff;
  background-color: rgb(121, 121, 121)
}